<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <httpErrors errorMode="Detailed" />
		<rewrite>
			<rules>
				<rule name="rule01" stopProcessing="true">
					<match url="^(.*)\.(css|js|png|jpg|jpeg|gif|bmp)$" ignoreCase="true" />
					<action type="None" />
				</rule>
				<rule name="rule02" stopProcessing="true">
					<match url="^(.*)$"  />
					<action type="Rewrite" url="/Index.php" />
				</rule>
			</rules>
		</rewrite>
    </system.webServer>
	<system.web>
		<customErrors mode="Off" />
	</system.web>
</configuration>