html {
    overflow-y: scroll;
}

/* Move down content because we have a fixed navbar that is 50px tall */
.container {
    padding-top: 80px;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.full{
    width: 100%;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

.form-group-row,
.row-no-margin{
    margin-left: 0;
    margin-right: 0;
}

.ms-0{
    margin-left: 0em;
    margin-right: 0em;
}

.ms-1{
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.ms-2{
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.ms-3{
    margin-left: 0.75em;
    margin-right: 0.75em;
}

.ms-4{
    margin-left: 1em;
    margin-right: 1em;
}

.mt-0{
    margin-top: 0em;
}

.mt-1{
    margin-top: 0.25em;
}

.mt-2{
    margin-top: 0.5em;
}

.mt-3{
    margin-top: 0.75em;
}

.mt-4{
    margin-top: 1em;
}

.mb-0{
    margin-bottom: 0em;
}

.mb-1{
    margin-bottom: 0.25em;
}

.mb-2{
    margin-bottom: 0.5em;
}

.mb-3{
    margin-bottom: 0.75em;
}

.mb-4{
    margin-bottom: 1em;
}

.my-0{
    margin-top: 0em;
    margin-bottom: 0em;
}

.my-1{
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.my-2{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.my-3{
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.my-4{
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.navbar-left {
    float: left;
}

.dark-grey
{
    background-color: #444444;
}

.panel-heading
{
    font-weight: bold;
    font-size: 1.1em;
}

.indent-left-1
{
    margin-left: 1em;
}

.indent-left-2
{
    margin-left: 2em;
}

.indent-left-3
{
    margin-left: 3em;
}

.navbar-inverse .navbar-nav .light-grey,
.navbar-inverse .light-grey
{
    color: #dddddd;
}

.btn-margin-right
 {
     margin-right: 0.5em;
 }

.margin-top
{
    margin-top: 1.0em;
}

.no-margin-bottom
{
    margin-bottom: 0;
}

.light-grey
{
    color:#999999;
}

.dark-grey-text
{
    color: #222222;
}

ul
{
    list-style-type: none;
    list-style:none;
    padding-left:0;
}

.panel > .list-group .list-group-item
{
    padding: 5px 15px;
}

.list-group {
    margin-bottom: 5px;
}

.list-group-item {
    padding: 5px 15px;
}

.list-group.inner li{
    border:none;
    margin-bottom: 5px;

}

.list-group li{
    border:none;
    margin-bottom: 5px;
}

.code{
    color: #000000;
    font-weight: 400;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

hr {
    border-top: 1px solid #ddd;
}

.blog-entry{
    background-color: #333333;
    border: 1px solid #444444;
    margin-bottom: 3em;
    box-shadow: 2px 2px #0003;
}

blockquote small{
    margin-left: 2em;
    font-style: italic;
    font-size: 0.8em;
}

blockquote small::before{
    content: '- ';
}